
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Ajax.BeginForm("getUsers", new AjaxOptions
{

    HttpMethod = "POST",
    UpdateTargetId = "result",
    InsertionMode = InsertionMode.Replace
}))
{
    <input type="submit" value="Users" />
}
@using (Ajax.BeginForm("getRoles", new AjaxOptions
{

    HttpMethod = "POST",
    UpdateTargetId = "result",
    InsertionMode = InsertionMode.Replace
}))
{
    <input type="submit" value="Roles" />
}
<div id="result">

</div>
