@using System.Web
@model IEnumerable<showerthoughts.Models.thought>

@foreach (var item in Model)
{

    <div>

        <div> @Html.ActionLink(item.title, "goToThought", new { id = item.id }) </div>

       <div >@Html.Raw(item.bdText) </div>       

        @Html.DisplayFor(modelItem => item.date)

        @Html.DisplayFor(modelItem => item.rate)
    </div>
}

